#paypal-checkout-btn{
    padding: 20px;
}
.money{
color: #cdcdcd;
}

/deep/.paypal-button.paypal-button-number-0.paypal-button-layout-horizontal.paypal-button-shape-pill.paypal-button-branding-branded.paypal-button-number-single.paypal-button-env-sandbox.paypal-should-focus.paypal-button-label-checkout.paypal-button-color-gold.paypal-button-logo-color-blue {
    padding: 20px; 
}